@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100%;
}
/*page样式：背景，居中，背景填满屏幕*/
.page{
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(../img/bg1.jpg) no-repeat center center;
	background-size: 100%;
}
/*head样式*/
.head{
	width: 100%;
	height: 50px;
	color: white;
	background-color: orange;
	font-size: 20px;
	line-height: 50px;
	padding-left: 10px;
}
/*footer样式*/
.footer{
	height: 50px;
	width: 100%;
	background-color: orange;
	bottom:0px;
	position: absolute;
	/*按照指定方式排列：水平垂直*/
	display: -webkit-box;
}

.footer img{
	width: 50px;
	height: 50px;
}

.footer div{
	/*理解为权重*/
	-webkit-box-flex: 1;
}

.range{
	width: 100%;
	top: -10px;
	position: absolute;
	
}
.love{
	line-height: 50px;
}
.pic img{
	border-radius: 100px;
	/*2s时间，重复执行*/
	animation: roll 2s infinite;
}
@keyframes roll{
	from{}
	to{
		transform: rotate(360deg);
	}
}
/*中间盒子样式*/
.musicbox{
	width: 100%;
	top: 50px;
	bottom: 40px;
	background-color: rgba(240,30,30,0.1);
	position: absolute;
	overflow: scroll;
	/*//超出范围,添加滚动*/
}

.music{
	width: 100%;
	height: 60px;
	background-color:rgba(111,248,193,0.3);
	border-bottom: 1px solid red;
}
.music img{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	float: left;
	margin: 2px;
}
.music p{
	line-height: 50px;
	color: orange;
	margin-left: 10px;
	
}

.playing{
	background-color:rgba(179,255,188,0.7);
}





































































